<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello!</title>
    <style>
body {
	background-color:#93b8e8;
}
h1 {
	color:orange;
	text-align:center;
}
p {
    color:#000000;
	font-family:PingFang SC,HarmonyOS_Medium,Helvetica Neue,Microsoft YaHei,sans-serif;
	font-size:15px;
}
#biaoqian{
    color: aqua;
}
yuansu1 {
    color:blue;
    font-family: 宋体;
}
h2 {
    font-size:40px;
    /* *这是颜色的注释 */
	color:red;
	text-align:center;
}
    </style>
</head>

<body>
    <h1>
        欢迎来到我的第一个页面
    </h1>
    <yuansu1>该学习惹，明天必学</yuansu1><br></br>
    <p>
        或者玩会儿原神也行
        要不明天再玩
    </p>
    <h2>第二种标题</h2>
    <h2>还是我</h2>
    <a href="http://www.baidu.com">再来个百度的链接</a>
    <p id="biaoqian">    后面跟一句话</p>
    
</body>
</html>