<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jsTest</title>

    <link rel="stylesheet" href="css/usual.css">
    <script src="js/demo1.js"></script>

    <link rel="stylesheet" href="../static/css/usual.css">
    <script src="../static/js/demo1.js"></script>
</head>

<body>
    <div>
        <h1><a href="/"><img class="icon" src="img/saber.jpg" alt="saber"></a>学习JavaScript</h1>
    </div>

    <div class="tri_grid" style="margin: 0 auto">
        <div style="text-align: center;">
            <img id="changeable1" class="changeableImg" src="../static/img/saber.jpg" alt="saber"
                onclick="changeImg2RunningChicken()">
        </div>
        <div class="inCenter">
            <img id="changeable2" class="changeableImg" src="../static/img/saber.jpg" alt="saber"
                onclick="changeImg2RunningChicken()">
        </div>
        <div class="inCenter">
            <img id="changeable3" class="changeableImg" src="../static/img/saber.jpg" alt="saber"
                onclick="changeImg2RunningChicken()">
        </div>
        
    </div>
    <div>
        <p id="demo" onclick="myf()">...</p>
    </div>

    </p>
    </div>



</body>

</html>