<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>testing</title>
    <link href="css\usual.css" rel="stylesheet" type="text/css">
    <script src="js\demo1.js"></script>

    <link href="..\static\css\usual.css" rel="stylesheet" type="text/css">
    <script src="..\static\js\demo1.js"></script>
</head>

<body>
    <h1>
        <a href="/"><img class="logo" src="img/saber.jpg" alt="saber" /></a>
        第test标题
    </h1>
    <p>
        第test个段落<a href="hello">back to hello</a>sentence2
    </p>

    <p>
        new paragraph
    </p>


    <a href="img/saber.jpg">kk saber</a>

    <br />

    <p>
        <img src="img/saber.jpg" alt="saber爱你" width="100" height="100" onclick="popAlert2()" />
        <button class="aqua" id="AlertButton" onclick="popAlert1()">点一个试试</button>
    </p>


    <br />

    <div class="inCenter">
        <p>
            <audio controls></audio>
            <video controls src="video\BigBlueButton - weekly meetings - Google Chrome 2021-07-16 10-10-28.mp4"
                height="300" width="300">?</video>
        </p>
    </div>

    <p>??<img src="../static/img/runningChicken.gif" alt="rap鸡" /></p>


</body>

</html>